<script language="JavaScript">
  <!--
    function hide_and_seek () {
      if (document.getElementById('blog_disabled').checked) {
        document.getElementById('blog_amazon_url_0').disabled = 1;
        document.getElementById('blog_amazon_url_1').disabled = 1;
        document.getElementById('blog_amazon_url_2').disabled = 1;
        document.getElementById('blog_amazon_affiliate').disabled = 1;
        document.getElementById('blog_upload_dir').disabled = 1;
        document.getElementById('blog_upload_url').disabled = 1;
        document.getElementById('blog_outputthis_user').disabled = 1;
        document.getElementById('blog_outputthis_pass').disabled = 1;
        document.getElementById('blog_use_sb_css').disabled = 1;
      } else {
        document.getElementById('blog_amazon_url_0').disabled = 0;
        document.getElementById('blog_amazon_url_1').disabled = 0;
        document.getElementById('blog_amazon_url_2').disabled = 0;
        document.getElementById('blog_amazon_affiliate').disabled = 0;
        document.getElementById('blog_upload_dir').disabled = 0;
        document.getElementById('blog_upload_url').disabled = 0;
        document.getElementById('blog_outputthis_user').disabled = 0;
        document.getElementById('blog_outputthis_pass').disabled = 0;
        document.getElementById('blog_use_sb_css').disabled = 0;
      }
    }
  //-->
</script>
<div class="setting">
  <div class="field">
    <p>
      <input type="checkbox" name="blog_disabled" id="blog_disabled" onclick="hide_and_seek(this.form)" value="1" <TMPL_IF NAME=BLOG_DISABLED>selected="selected"</TMPL_IF> /> Disable MT-StructuredBlogging for This Blog
    </p>
    <p>
      <br />
      If you have an Amazon.com affiliate code, you can enter it here and it will be added to any amazon.com links generated by the structured blogging plug-in. That way, you'll get credit for any clicks on the images or links in product reviews you write on your blog. If you don't have an Amazon.com affiliate code, you can get one from <a href="http://www.amazon.com/gp/browse.html?node=3435371">the Amazon.com site</a>.<br /><br />
      Select an Amazon.com site to use for lookups:
      <select name=blog_amazon_url id="blog_amazon_url">
      <option value="us"<TMPL_IF NAME=BLOG_AMAZON_URL_US> selected="selected"</TMPL_IF>>Amazon US (default)</option>
      <option value="uk"<TMPL_IF NAME=BLOG_AMAZON_URL_UK> selected="selected"</TMPL_IF>>Amazon UK</option>
      <option value="ca"<TMPL_IF NAME=BLOG_AMAZON_URL_CA> selected="selected"</TMPL_IF>>Amazon Canada</option>
      <option value="de"<TMPL_IF NAME=BLOG_AMAZON_URL_DE> selected="selected"</TMPL_IF>>Amazon Germany</option>
      <option value="fr"<TMPL_IF NAME=BLOG_AMAZON_URL_FR> selected="selected"</TMPL_IF>>Amazon France</option>
      <option value="jp"<TMPL_IF NAME=BLOG_AMAZON_URL_JP> selected="selected"</TMPL_IF>>Amazon Japan</option>
      </select><br /><br />
      Amazon.com affiliate code:<br /><br />
      <input id="blog_amazon_affiliate" name="blog_amazon_affiliate" size="50" <TMPL_IF NAME=BLOG_AMAZON_AFFILIATE>value="<TMPL_VAR NAME=BLOG_AMAZON_AFFILIATE>"</TMPL_IF> />
    </p>
    <p>
      <br />
      Some Structured Blogging post types allow you to upload files and images to be included in the post. For this to work you must provide a directory where the files can be uploaded and the URL location where that directory is accessible via the web.<br /><br />
      File upload directory:<br /><br />
      <input id="blog_upload_path" name="blog_upload_dir" size="50" <TMPL_IF NAME=BLOG_UPLOAD_DIR>value="<TMPL_VAR NAME=BLOG_UPLOAD_DIR>"</TMPL_IF> /><br /><br />
      URL of upload location:<br /><br />
      <input id="blog_upload_url" name="blog_upload_url" size="50" <TMPL_IF NAME=BLOG_UPLOAD_URL>value="<TMPL_VAR NAME=BLOG_UPLOAD_URL>"</TMPL_IF> />
    </p>
    <p>
      <br />
      Outputthis.com allows you to automatically post your blog entries to other systems.<br /><br />
      Username:<br /><br />
      <input id="blog_outputthis_user" name="blog_outputthis_user" size="50" <TMPL_IF NAME=BLOG_OUTPUTTHIS_USER>value="<TMPL_VAR NAME=BLOG_OUTPUTTHIS_USER>"</TMPL_IF> /><br /><br />
      Password:<br /><br />
      <input id="blog_outputthis_pass" name="blog_outputthis_pass" size="50" <TMPL_IF NAME=BLOG_OUTPUTTHIS_PASS>value="<TMPL_VAR NAME=BLOG_OUTPUTTHIS_PASS>"</TMPL_IF> />
    </p>
    <p>
      <br />
      <input type="checkbox" name="blog_use_sb_css" id="blog_use_sb_css" onclick="hide_and_seek(this.form)" value="1" <TMPL_IF NAME=BLOG_USE_SB_CSS_1>checked="checked"</TMPL_IF> /> Enable MT-StructuredBlogging Stylesheet<br /><br />
      Un-check this box to disable the default stylesheet, if you want to turn off styles or add styles to your default stylesheet.
    </p>
  </div> 
</div>
<script language="JavaScript">
  <!--
    hide_and_seek();
  //-->
</script>
